<form [formGroup]="todoForm" class="wrapper">
    <div formArrayName="todos" *ngFor="let todoItem of todoControls; let i = index">
        <div class="list-item" [formGroupName]="i">
            <div class="input-group">
                <div class="checkbox-wrapper">
                    <input (keyup.enter)="updateCheck(i)" (click)="updateCheck(i)" (change)="countItems()" formControlName="check" [checked]="check" type="checkbox"
                        name="check-{{i}}" id="check-{{i}}">
                    <label class="checkbox-label" for="check-{{i}}">{{todoItem.controls.description.value}}</label>
                </div>
            </div>
            <div class="close-wrapper">
                <span tabindex="2" *ngIf="!todoItem.controls.check.value" (keyup.enter)="deleteTodo(i)" (click)="deleteTodo(i)" class="cross"></span>
            </div>
        </div>
    </div>
    <div class="list-count">
        <p class="text">{{itemsLeft}}</p>
    </div>
</form>