@import '../../utilities/style-variables';

:host {
  .wrapper {
    transition: $ease;
    border: $border1 $grey_2;

    .list-item {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      border-bottom: $border1 $grey_2;

      .checkbox-wrapper {
        position: relative;

        input[type="checkbox"] {
          position: absolute;
          top: 0px;
          left: 0px;
          height: 15px;
          width: 15px;
          min-height: 15px;
          min-width: 15px;
          -webkit-appearance: none;
        }

        .checkbox-label {
          display: flex;
          position: relative;
          justify-content: flex-start;
          color: $grey_2;
          cursor: pointer;

          &:before,
          &:after {
            pointer-events: none;
          }

          &:before {
            display: flex;
            content: ' ';
            height: 15px;
            width: 15px;
            min-height: 15px;
            min-width: 15px;
            border: $border2 $grey_1;
            border-radius: 10%;
            background: $white;
            margin-right: 10px;
          }

          &:after {
            position: absolute;
            display: flex;
            content: ' ';
            height: 5px;
            width: 11px;
            min-height: 5px;
            min-width: 11px;
            margin-top: 4px;
            left: 2px;
            border-bottom: $border4 $white;
            border-left: $border4 $white;
            background: none;
            transform: rotate(-45deg) scale(0);
            transition: transform .1s ease, opacity .1s ease;
            transform-origin: center center;
          }
        }

        input[type="checkbox"]:checked+.checkbox-label:after {
          opacity: 1;
          transform: rotate(-45deg) scale(.8);
        }

        input[type="checkbox"]:checked+*::before {
          border: $border2 transparent;
          background-color: $turquoise;
        }
      }

      .close-wrapper {
        position: relative;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
      }
    }

    .list-count {
      padding: 5px 18px;

      .text {
        font-weight: 100;
      }
    }
  }
}
