@import '../../utilities/style-variables';

:host {
  .field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
    position: relative;
    transition: margin 0.1s ease-in-out;

    &.margin-bottom {
      margin-bottom: 2em;
    }

    .invalid-message {
      color: $red;
      font-size: 14px;
      position: absolute;
      bottom: -20px;
    }

    .cross {
      right: 0;
      margin: 10px 15px;
      display: none;
    }

    label,
    input {
      transition: all 0.2s;
      touch-action: manipulation;
      transform-origin: left bottom;
    }

    label {
      letter-spacing: 0.05em;
      color: $grey_2;
    }

    input {
      font-size: 1.5em;
      border: 0;
      border-bottom: 1px solid $grey_1;
      font-family: inherit;
      -webkit-appearance: none;
      border-radius: 0;
      padding: 0 40px 0 0;
      cursor: text;

      &:focus {
        outline: 0;
        border-bottom: $border1 $grey_1;
      }

      &:placeholder-shown+label {
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform: translate(0, 2rem) scale(1.2);
      }

      &:focus::-webkit-input-placeholder {
        opacity: 1;
      }

      &:not(:placeholder-shown)+label,
      &:focus+label {
        transform: translate(0, 0) scale(0.8);
        color: $grey_1;
        cursor: pointer;
      }

      &:not(:placeholder-shown)+label+.cross {
        display: block;
      }
    }


    ::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
    }
  }
}
