<div class="field" [class.margin-bottom]="!valid">
    <span *ngIf="!valid" class="invalid-message">Please enter some text...</span>
    <input #field (keyup.enter)="addTodo(false, field.value)" type="text" name="todo" id="todo" placeholder=" ">
    <label for="todo">What needs to be done?</label>
    <span tabindex="1" (keyup.enter)="clearField()" (click)="clearField()" class="cross"></span>
</div>