$black: #000;
$white: #fff;
$turquoise: #24a89f;
$grey: #2a232b;
$grey_1: #424242;
$grey_2: #bebebe;
$grey_3: #f1f1f1;
$red: #ff0000;

$ease: all .5s cubic-bezier(0.23, 1, 0.32, 1);

$border1: 1px solid;
$border2: 2px solid;
$border4: 4px solid;