@import '../../utilities/style-variables';

:host {
  .wrapper {
    background-color: $grey_1;

    .menu-text {
      color: $white;
      margin: 0;
      padding: 20px;
      font-weight: normal;
    }
  }
}
